
body {
  background: #eee;
  font-family: 'Lily Script One';
}




.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;


}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row{
  margin-left: 0%;
  margin-right: 0%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 50px;
  width: 95%;
}

/* .me{
  background: url('https://img.freepik.com/premium-photo/baby-s-breath-flowers-pink-background_82740-98.jpg?w=2000');
  display: flex;
  flex-wrap: wrap;
  align-content: center;
} */



/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-74:hover {
  background-color: #fff;

}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


.p1 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
}

.quotes {
  width: 80vw;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  border: solid rgb(138, 80, 29);
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
}

.quotes .box {
  position: relative;
  width: 25vw;
  height: 50vh;
  /* min-height: 320px; */
  background: rgb(31, 31, 31);
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);

}

.quotes .box::before {
  content: '\201C';
  position: absolute;
  top: -20px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}

.quotes .box::after {
  content: '\201D';
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  filter: invert(1);
  pointer-events: none;
}

.quotes .box p {
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
  
}

.quotes .box h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 10%;
  font-size: 50px;
  color: rgb(249, 134, 2);
  -webkit-text-stroke: 0.1vw rgb(255, 255, 255); 
  font-family: fantasy;
  
}
  
.quotes .box h2:hover {
  color: #f2f2f2;
  -webkit-text-stroke: 0.1vw rgb(0, 0, 0);
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.quotes .box:hover {
  color: #f2f2f2;
  -webkit-text-stroke: 0.1vw rgb(5, 0, 0);
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.quotes .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in;
  pointer-events: none;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

 .quotes .box.box1:hover,
.quotes .box.box1:hover~.bg {
  opacity: 1;
  background: #632c65;
background: -moz-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
background: -webkit-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%) ;
background: linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
} 

.quotes .box.box2:hover,
.quotes .box.box2:hover~.bg {
  opacity: 1;
  background: #632c65;
background: -moz-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
background: -webkit-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
background: linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.quotes .box.box3:hover,
.quotes .box.box3:hover~.bg {
  opacity: 1;
  background: #4b384c;
background: -moz-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
background: -webkit-linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
background: linear-gradient(-45deg, #c65900 15%, #4d1e01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}

.packs1{
background-color: white;
height: 300px;
width: 650px;
text-align: center;
border-radius: 40px;
padding-top: 3em;
margin-left: 3em;
}
.lab{
  columns: 2;
}
.invi{
  background: url('https://wallpapercave.com/uwp/uwp1866460.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  padding-right: 3em;
  padding-left: 2em;
  text-align: left;
}
.invititle{
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 10em;
  padding-bottom: 10em;
  padding-right: 3em;
  padding-left: 1em;
  text-align: left;

}


.button-81 {
  background-color: brown;
  border: 0 solid #dc6a00;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: Ink Free;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
  box-shadow: 8px 8px 5px rgb(252, 251, 249);;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 3rem;
    /* padding: 1rem 2rem; */
  }
}


.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

